<li class="nav-item dropdown show" data>
    <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Още</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="" asp-controller="Instructors" asp-action="Index">Инструктори</a>
        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Contacts">Контакти</a>
        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AboutUs">За нас</a>

    </div>
</li>
