@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AdrenalineDP.Data
@using AdrenalineDP.Entities


@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result,"admin"))
{
<li class="nav-item dropdown show" data>
    <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Администрация</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Services" asp-action="Index">Услуги</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Instructors" asp-action="Index">Инструктори</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Media" asp-action="Index">Медия</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="ServiceRequests" asp-action="Index">Резервации</a>
    </div>
</li>
}
