@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AdrenalineDP.Data
@using AdrenalineDP.Entities


@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager


    <style>
        .dropdown-menu {
            background-color: #a40606;
            background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
        }

        .dropdown-item:hover {
            background-color: rgb(83 39 39);
            text-shadow: rgb(83 39 39);
        }
        .dropdown-item{
            font-size:large;
        }
    </style>

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result,"admin"))
{
<li class="nav-item dropdown show" data>
    <a class="dropdown-toggle nav-link text-light" href="#" data-toggle="dropdown"><i class="fa-solid fa-screwdriver-wrench"></i> Администрация</a>
    <div class="dropdown-menu">
        <a class="dropdown-item text-light" asp-area="" asp-controller="Services" asp-action="Index"><i class="fa-solid fa-fire-flame-curved"></i> Услуги</a>
        <a class="dropdown-item text-light" asp-area="" asp-controller="Instructors" asp-action="Index"><i class="fa-solid fa-users"></i> Инструктори</a>
        <a class="dropdown-item text-light" asp-area="" asp-controller="Media" asp-action="Index"><i class="fa-solid fa-photo-film"></i> Медия</a>
        <a class="dropdown-item text-light" asp-area="" asp-controller="ServiceRequests" asp-action="Index"><i class="fa-solid fa-book-bookmark"></i> Резервации</a>
    </div>
</li>
}
