<li class="nav-item dropdown show" data>
    <a class="dropdown-toggle nav-link text-dark" href="#" data-toggle="dropdown">Admin</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" asp-area="Admin" asp-controller="Services" asp-action="Index">Services</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Instructors" asp-action="Index">Instructors</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="Media" asp-action="Index">Media</a>
        <a class="dropdown-item" asp-area="Admin" asp-controller="ServiceRequests" asp-action="Index">Requests</a>
    </div>
</li>
