
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AdrenalineDP.Data
@using AdrenalineDP.Entities


@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Адреналин</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-danger border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <div>
                        <img src="~/images/logo.png" />
                    </div>

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @if (User.IsInRole("Admin") == false)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="ServiceRequests" asp-action="Create"><i class="fa-solid fa-book-open"></i>РЕЗЕРВАЦИЯ</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="nav-link text-monospace text-light" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-house-chimney"></i>Начало</a>
                        </li>
                        @if (User.IsInRole("Admin") == false)
                        {


                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Services" asp-action="Index"><i class="fa-solid fa-fire-flame-curved"></i>Услуги</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Media" asp-action="Gallery"><i class="fa-solid fa-images"></i>Галерия</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Media" asp-action="Video"><i class="fa-solid fa-clapperboard"></i>Видео</a>
                            </li>

                            <partial name="_AboutUsPartial" />
                        }



                        <partial name="_AdminMenu" />
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light">
        <div class="container">
            &copy; 2022 - Адреналин - <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-item text-dark" style="text-decoration:none;">Поверителни изисквания</a>
            <div class="float-md-right justify-content-center social">
                <a  href="https://www.facebook.com"class="soc_link"><i class="fa-brands fa-facebook fa-lg" id="face"></i></a>
                <a  href="https://www.instagram.com"class="soc_link"><i class="fa-brands fa-instagram fa-lg" id="insta"></i></a>
                <a href="https://discords.com"class="soc_link"><i class="fa-brands fa-discord fa-lg" id="dis"></i></a>
                <a href="https://twitter.com"class="soc_link"><i class="fa-brands fa-twitter fa-lg" id="twit"></i></a>
                <a href="https://github.com/"class="soc_link"><i class="fa-brands fa-github fa-lg" id="git"></i></a>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
