<style>
    .cont {
        border-radius: 15px;
        width: 50%;
        background: white;
        margin: auto;
    }

    img {
        width: 30%;
        float: left;
        margin:auto;
    }
</style>

<div class="text-center">
    <h1>Контакти</h1><br />
    <img src="~/images/Instructors/tom.jpg" />

    <div class="cont">
        <h3>Имейл за връзка</h3>
        <p> moqtemail123&#64;gmail.com</p>         
    </div>
    <div class="cont">
        <h3>Телефон</h3>
        <p>08231124124</p>
    </div>
</div>

