<style>
    .cont {
        border-radius: 15px;
        width: 50%;
        background: white;
        margin: auto;
    }

    img {
        width: 30%;
        float: left;
        margin: auto;
    }

    .az_class {
        background-image: url(/images/Instructors/tom.jpg);
        background-size: cover;
        float: left;
        height: 30vh;
        width: 30%;
    }

        .az_class p {
            text-align: match-parent;
            background: white;
            opacity: 0.5;
        }
</style>

<div class="text-center">
    <h1>Контакти</h1><br />
    <div class="align-items-center justify-content-center">
        <div class="az_class img-fluid">
            <p class="align-bottom">Tova sam az</p>
        </div>

        <div class="cont">
            <h3><i class="fa-solid fa-envelope"></i></h3>
            <h3>Имейл за връзка</h3>
            <p> moqtemail123&#64;gmail.com</p>
        </div>
        <div class="cont">
            <h3><i class="fa-solid fa-phone"></i></h3>
            <h3>Телефон</h3>
            <p>08231124124</p>
        </div>
    </div>
</div>

