<style>
    .cont {
        border-radius: 15px;
        width: 50%;
        background: white;
        margin: auto;
    }

    img {
        width: 30%;
        float: left;
        margin: auto;
    }
</style>
<div class="container">
    <div class="text-center">
        <h1>Контакти</h1><br />
        <div class="col-md-6 offset-md-3">

            <div class="cont">
                <h3><i class="fa-solid fa-envelope fa-lg"></i></h3>
                <h3>Имейл за връзка</h3>
                <p> moqtemail123&#64;gmail.com</p>
            </div>
            <div class="cont">
                <h3><i class="fa-solid fa-phone fa-lg"></i></h3>
                <h3>Телефон</h3>
                <p>08231124124</p>
            </div>
        </div>
    </div>
</div>



