@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using AdrenalineDP.Data
@using AdrenalineDP.Entities
@inject SignInManager<Users> SignInManager


<head>
    <link href="~/css/HomePage.css" rel="stylesheet" />
</head>


@if (SignInManager.IsSignedIn(User) == true)
{
<div class="text-center">

    <!--
         <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    -->
    <div class="mt-n3"></div>

</div>
}
else
{
    <div class="mt-n3"></div>
    <div class="welcome-img text-center img-fluid">
        <div class="align-items-center justify-content-center">
            <h1>Добре дошли в Адреналин!</h1><br />
            <p class="para">
                Потопете се в един свят на приключения и много силни емоции с нашите ексремни спортове!<br />
                Моля влезте в акаунта си, за да видите всички наши услуги!<br /><br />
                Ако все още нямате акаунт,регистрирайте се от <br /><br />
                <i class="fa-solid fa-hand-point-right fa-lg"></i> <a class="main-btn" style="width:10%;" asp-area="Identity" asp-page="/Account/Register">ТУК</a> <i class="fa-solid fa-hand-point-left fa-lg"></i>
            </p>
        </div>
    </div>
    <div class="divider"></div>
}
<div class="container-fluid cont_prop">
    <br /><br /><br /><br />
    <div class="text-center">
        <h1>Най-вълнуващите дисциплини!</h1>
        <p class="para">При нас може да намерите всичко,<br />което кара човек да се чувства наистина жив - силни емоции,преплетени с много страх!</p>
    </div>
    <br />
    <div class="container">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carous-op-img">
                            <h5>Най-доброто бънджи!</h5>
                            <p>Резервирай сега!</p>
                        </div>
                    </div>
                    <img class="d-block w-100" src="~/images/carousel_img1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carous-op-img">
                            <h5>Обичаш височините? Парашутът е за теб!</h5>
                            <p>Резервирай сега!</p>
                        </div>
                    </div>
                    <img class="d-block w-100" src="~/images/carousel_img2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carous-op-img">
                            <h5>Скачай на мотора и се наслади на дивата природа!</h5>
                            <p>Резервирай сега!</p>
                        </div>
                    </div>
                    <img class="d-block w-100" src="~/images/Motocross/moto1.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carous-op-img">
                            <h5>Изследвай морските дълбини!</h5>
                            <p>Резервирай сега!</p>
                        </div>
                    </div>
                    <img class="d-block w-100" src="~/images/Cave-Diving/cd4.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="carous-op-img">
                            <h5>Насалади се на смразяващо спускане със нашия сноуборд!</h5>
                            <p>Резервирай сега!</p>
                        </div>
                    </div>
                    <img class="d-block w-100" src="~/images/Snowboard/snow5.jpg" alt="Fifth slide">
                </div>
            </div>

            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    <br /><br /><br /><br />
</div>


